*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: #07376a;
}
body{
  /* background-color: #07376a; */
      background-color: white;
}
.navigation-bar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.nav-el{
  text-align: center;
  align-self: center;
  color: whitesmoke;
  font-weight: bold;
  margin-left: 30px;
  text-decoration: none;
}
.navigation-bar img{
  height: 10vh;
}
.slidecard{
  width: 100%;
  overflow: hidden;
}
.slides{
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center; 
  transition: 2s;
}
.images{
  transition: 2s;
  width: 100vw;
}
.images img{
  width: 100vw;
}

.slider-btn{
  margin: auto;
  text-align: center;
}
.slider-btn input{
  margin: 10px;
  appearance: none;
  background-color: white;
  filter: opacity(90%);
  height: 25px;
  width: 25px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  bottom: 50px;
}
.slider-btn input:hover{
  cursor: pointer;
}
.slider-btn input:checked{
  background-color: #07376a;
  filter: opacity(90%);
}
.about{
  margin: 10px 20px;
  text-align: center;
}
.about h1{
  color: #212529;
  font-size: xx-large;
  font-weight: bolder;
}
.about p{
  font-size: large;
  margin: 10px 100px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.register-btn{
  margin: auto;
  text-align: center;
  height: 30px;
  width: 120px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: 3px solid #007bff ;
  border-radius: 4px;
}
.register-btn:hover{
  color: #007bff;
  background-color: white;
}
.cards{
  margin: 20px 80px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-around;
}
body {
  background-color: rgb(221, 221, 221);
}

.info_img {
  display: block;
}
.info_img img {
  width: 50vw;
  height: 50vh;
  /* position: relative; */
}

.img_content{
  display: block;
  line-height: 1.5;
  position: relative;
}
.img_content ul{
  position:absolute;
  text-align: justify;
  bottom: 8vw;
  left: 40vw;
  background-color: rgba(0, 87, 168, 0.85);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  height: fit-content;
  width: fit-content;
}
.gen_img {
  margin: 30px;
  width: 25vw;
  height: 25vw;
  border-radius: 20px;
  align-self: center;
  justify-content: center;
}

.img_content ul {
  margin: 1.2vw;
}
h1 {
  margin: 0;
  text-align: center;
  font-size: 10vw;
  font-family: "Caveat", cursive;
}
.know,
.time,
.attractions,
.nearby,
.to_do,
.dir_weather,
.info_img {
  margin: 5vw;
}

.know,
.time,
.attractions,
.nearby,
.to_do,
.dir_weather {
  font-size: 1.5vw;
  line-height: 1.5;
}

h2 {
  font-size: 3vw;
  margin-bottom: 1vw;
}

h3 {
  margin-bottom: 1vw;
}

.headings {
  text-align: center;
  color: white;
  font-weight: 900;
}

.to_do {
  background-image: url(https://uttarakhandtourism.gov.in/sites/default/files/2020-07/Feel%20the%20thrill%20banner.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.nearby img,
.attractions img {
  display: inline;
  margin: 5px;
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
}

#img:hover {
  filter: brightness(100%);
  transform: scale(1.05);
}

footer {
  background-color: #212529;
  color: white;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* position: absolute; */
}

footer div {
  position: relative;
  display: block;
  /* width: 20%; */
  /* height: fit-content; */
}

a {
  text-decoration: none;
  color: white;
}

.copyright {
  text-align: center;
}
