.dropdown{
    padding: 0.65vh 2.5vw;
    color: antiquewhite;
    background-color: #07376a;
    text-decoration: none;
    height: auto;
    width: fit-content;
    height: 69.5px;
    position: sticky;
}

.dropdown-content{
    display: none;
    min-width: 160px;
    min-height: 200px;
    z-index: 1;
    position: absolute;
}

.dropdown-content a{
    padding: 10px;
    color: antiquewhite;
    background-color: gray;
    text-decoration: none;
    display: block;
}

#faq-dropdown:hover #faq-dropdown-content{
    display: block;
}
#faq-dropdown:hover{
    background-color: #031930;
}
#faq-dropdown-content a:hover{
    background-color: rgb(65, 62, 62);
}

#home-dropdown:hover #home-dropdown-content{
    display: block;
}
#home-dropdown:hover{
    background-color: #031930;
}
#home-dropdown-content a:hover{
    background-color: rgb(65, 62, 62);
}

#explore-dropdown:hover #explore-dropdown-content{
    display: block;
}
#explore-dropdown:hover{
    background-color: #031930;
}
#explore-dropdown-content a:hover{
    background-color: rgb(65, 62, 62);
}

#exp-dropdown:hover #exp-dropdown-content{
    display: block;
}
#exp-dropdown:hover{
    background-color: #031930;
}
#exp-dropdown-content a:hover{
    background-color: rgb(65, 62, 62);
}
